<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <link rel="stylesheet" href="/plugins/bootstrap/table/bootstrap-table.min.css"/> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/bootstrap-table.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/extensions/export/bootstrap-table-export.min.js"></script> -->

</head>
<body>
	<!-- 头部设计 -->
	<section class="content-header">
		<h1>
			详细信息 <small>科技成果</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="index.html"><i class="fa fa-dashboard"></i>首页</a></li>
			<li><a href="#">科技成果</a></li>
			<li class="active">详细信息 </li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
	
		<div class="box">
			<div class="box-header with-border">
              <h3 class="box-title">科技成果详细信息</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
			<div class="box-body">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4 strong">本地唯一标识</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.resultId}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">所属项目编码</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.projectId}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">所属项目名称</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.projectName}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">成果类型</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.resultType}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">成果名称</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.resultTitle}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">关键词</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.keyword}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">成果概述</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.resultAbstract}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">成果相关文档</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.resultLinks}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">成果完成人</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.completedby}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">成果完成单位</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.completedOrganization}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">成果完成时间</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.completedDate}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">获奖情况</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.awards}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">中图分类号</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.cdc}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">学科分类代码</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.discipline}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">行业分类代码</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.industry}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">其他分类代码</div>
						<div class="col-sm-8" th:text="*{kjcgJbxxInfo.otherCode}">2</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
</body>
</html>
