<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section class="content">
		<div class="box box-warning" id="section_resume_user_sysUserEducation">
			<div class="box-header with-border">
				<h3 class="box-title">企业信息</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<input type="text" style="display:none;" id="resume_user_sysUserEducation_uuid" name="uuid" th:value="${sysUserEducation.uuid}"/>
				<input type="text" style="display:none;" id="resume_user_sysUserEducation_deleteFlag" name="deleteFlag"  th:value="${sysUserEducation.deleteFlag}"/>
				<input type="text" style="display:none;" id="resume_user_sysUserEducation_discription" name="discription" th:value="${sysUserEducation.discription}"/>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">major:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="resume_user_sysUserEducation_major" name="major" th:value="${sysUserEducation['major']}" placeholder="major" disabled="disabled"/>
						</div>
					</div>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">graduationTime:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="resume_user_sysUserEducation_graduationTime" name="graduationTime" th:value="${sysUserEducation['graduationTime']}" placeholder="graduationTime" disabled="disabled"/>
						</div>
					</div>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">userUuid:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="resume_user_sysUserEducation_userUuid" name="userUuid" th:value="${sysUserEducation['userUuid']}" placeholder="userUuid" disabled="disabled"/>
						</div>
					</div>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">education:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="resume_user_sysUserEducation_education" name="education" th:value="${sysUserEducation['education']}" placeholder="education" disabled="disabled"/>
						</div>
					</div>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">graduationSchool:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="resume_user_sysUserEducation_graduationSchool" name="graduationSchool" th:value="${sysUserEducation['graduationSchool']}" placeholder="graduationSchool" disabled="disabled"/>
						</div>
					</div>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">lengthOfSchooling:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="resume_user_sysUserEducation_lengthOfSchooling" name="lengthOfSchooling" th:value="${sysUserEducation['lengthOfSchooling']}" placeholder="lengthOfSchooling" disabled="disabled"/>
						</div>
					</div>
				<div class="row text-center">
					<button type="button" class="btn btn-primary" id="resume_user_sysUserEducation_edit_button">编辑</button>
					<button type="button" class="btn btn-primary" id="resume_user_sysUserEducation_save_button" style="display: none;">提交</button>
					<button type="button" class="btn btn-danger" id="resume_user_sysUserEducation_exit_button">关闭</button>
				</div>
			</div>
		</div>
	</section>
	
	
	<script th:inline="javascript">
		var sysUserEducation = [[${sysUserEducation}]];
	</script>
	<script type="text/javascript" src="/pages/resume/user/sysusereducationdetail.js"></script>
</body>
</html>


