
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8" />
<!-- <link rel="stylesheet" href="/plugins/editor.md/css/style.css" /> -->
<link rel="stylesheet" href="/plugins/editor.md/css/editormd.css" />
<!-- <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" /> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->

</head>
<body>
<!-- 头部设计 -->
	<section class="content-header">
		<div class="sider col-xs-12"  >
		<div class="col-xs-2" >
			<ul class="sidebar-menu" >
				<li><a href="#" data-uuid="1">初学者项目展示</a></li>
				<li><a href="#" data-uuid="2">docker-使用总结</a></li>
				<li><a href="#" data-uuid="pyinstaller">pyinstaller</a></li>
			</ul>
		</div>
		<div class="col-xs-10">
			<div id="test-editormd" class="content-wrapper"></div>
		</div>
		</div>
		
	</section>
<!-- 	<script src="/plugins/editor.md/js/jquery.min.js"></script> -->
	<script src="/plugins/editor.md/js/editormd.js"></script>
<!-- 	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script> -->
	<script type="text/javascript">
		var testEditor;

		$(function() {

			$('.sider li a').bind('click', function() {
				var name = $(this).data("uuid");
				name = "/md/" + name + ".md";
				$("#test-editormd").empty();
				$.get(name, markdown);
			})

			function markdownchange(md) {
				testEditor.markdown = md;
			}

			$.get('/md/1.md', markdown);

			function markdown(md) {
				testEditor = editormd("test-editormd",
						{
// 							width : "85%",
							height : 860,
							path : '/plugins/editor.md/lib/',
							theme : "dark",
							previewTheme : "dark",
							editorTheme : "pastel-on-dark",
							markdown : md,
							codeFold : true,
							//syncScrolling : false,
							saveHTMLToTextarea : true, // 保存 HTML 到 Textarea
							searchReplace : true,
							watch : true, // 关闭实时预览
							htmlDecode : "style,script,iframe|on*", // 开启 HTML 标签解析，为了安全性，默认不开启    
							//toolbar  : false,             //关闭工具栏
							previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
							emoji : true,
							taskList : true,
							tocm : true, // Using [TOCM]
							tex : true, // 开启科学公式TeX语言支持，默认关闭
							flowChart : true, // 开启流程图支持，默认关闭
							sequenceDiagram : true, // 开启时序/序列图支持，默认关闭,
							//dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
							//dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
							//dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
							//dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
							//dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
							imageUpload : true,
							imageFormats : [ "jpg", "jpeg", "gif", "png","bmp", "webp" ],
							imageUploadURL : "./php/upload.php",
							tocDropdown : true,
							tocTitle : "目录 Table of Contents",
							onload : function() {
// 								console.log('onload', this);
// 								this.fullscreen();
								//                             this.unwatch();
								//                             this.watch().fullscreen();

								//this.setMarkdown("#PHP");
// 								this.width("85%");
// 								this.hideToolbar();
								//                             this.show();
								this.previewing();
								//this.height(480);
								//this.resize("100%", 640);
							},
							onchange : function() {
								$("#output").html(
										"onchange : this.id =>" + this.id
												+ ", markdown =>"
												+ this.getValue());
// 								console.log("onchange =>", this, this.id,
// 										this.settings, this.state);
// 								this.fullscreen();
								//                          this.unwatch();
								//                          this.watch().fullscreen();

								//this.setMarkdown("#PHP");
// 								this.width("85%");
// 								this.hideToolbar();
// 								this.show();
// 								this.previewing();
							}

						});
			}
			;

		});
	</script>
</body>
</html>