<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<link rel="icon" type="image/x-icon" href="/dist/img/favicon_32x32.ico" />
<link rel="shortcut icon"  type="image/x-icon" href="/dist/img/favicon_32x32.ico"/>
<title>初学者</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/plugins/bootstrap/css/ionicons.min.css" />
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css" />
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css" />

<link rel="stylesheet" href="/dist/css/style.css" />



<!--[if lt IE 9]>
  <script src="plugins/jQuery/html5shiv.min.js"></script>
  <script src="plugins/jQuery/respond.min.js"></script>
  <![endif]-->
<style type="text/css">
.content-wrapper, .right-side, .main-footer {
	margin-left: 0;
}
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<a href="/index.html" class="logo">
			 <span class="logo-mini"><b>DY</b></span>
			  <span class="logo-lg"><b>初学者</b></span>
			</a>

			<nav class="navbar navbar-static-top">
				<div class="navbar-custom-menu">

					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" /> <span class="hidden-xs" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"></span>
						</a>
							<ul class="dropdown-menu">
								<li class="user-header"><img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />

									<p th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}">
										Alexander Pierce - Web Developer <small>Member since Nov. 2012</small>
									</p></li>
								<li class="user-footer">
									<div class="pull-left">
									</div>
									<div class="pull-right">
										<form action="/logout" method="post">
											<input type="submit" value="退出" class="btn btn-default btn-flat" />
										</form>
										<!-- 										<a href="#" >Sign out</a> -->
									</div>
								</li>
							</ul></li>
							<li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>
					</ul>
				</div>

			</nav>
		</header>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" id="mainDiv">
		
			<section class="content"  id="show_type_id">
				<div class="box ">
					<div class="box-header with-border">
						<h3 class="box-title" id="type_text_id" ><span th:text="${file.fileName}"> 文件信息</span> </h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool" data-widget="remove">
<!-- 								<i class="fa fa-times"></i> -->
							</button>
						</div>
					</div>
					<div class="box-body" id="show_table_id">
						<div class="col-lg-2 col-md-4 col-sm-12">
							<a th:href="${file.fromPath}" target="_blank" th:title="${file.fileName}"><img alt="" th:src="${file.fileImg}" style="height: 180px;width: 160px;" ></a>
						</div>
						<div class="col-lg-10 col-md-8 col-sm-12">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="title">资料名称：</label> 
									<span id="title" ><span th:text="${file.fileName}"> 文件信息</span> </span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="">资料来源：</label> 
									<a th:href="${file.fromPath}" target="_blank">查看<span th:text="${file.fromWeb}"></span></a>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="title">资料大小：</label> 
									<span id="title" ><span th:text="${file.fileSize}"> 文件信息</span> </span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="">资料语言：</label> 
									<span th:text="${file.language}"></span>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="title">收录时间：</label> 
									<span th:text="${file.createTime}"></span> 
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="">分类：</label> 
									<span th:text="${file.generateType}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="title">作者：</label> 
									<span th:text="${file.author}"></span> 
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="">发行时间：</label> 
									<span th:text="${file.publishDate}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="title">版次：</label> 
									<span th:text="${file.version}"></span> 
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="">浏览次数：</label> 
									<span th:text="${file.viewTimes}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="title">发行机构：</label> 
									<span th:text="${file.publishOrg}"></span> 
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label for="">文件类型：</label> 
									<span th:text="${file.fileType}"></span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 form-group">
							<label for="">简介：</label> 
							<span th:text="${file.fileInstru}"></span>
						</div>
					</div>
				</div>
				
				<div class="box" th:if="${file.fileDetial !=null}">
					<div class="box-body">
						<div th:utext="${file.fileDetial}"></div>
					</div>
				</div>
			</section>


		</div>

		<footer class="main-footer">
		</footer>
	
		<aside class="control-sidebar control-sidebar-dark" id="right-aside">
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li><a href="#control-sidebar-home-tab1" data-toggle="tab"><i class="fa fa-wrench"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane" id="control-sidebar-home-tab1">
				
					<div id="node_div_parents_class">
						<div class="row" style="display: none; margin-top: 5px; ">
							<div class="col-xs-5 strong" id="title" ></div>	
							<div class="col-xs-5 pull-right btn" id="button" ><i class="fa fa-remove"></i></div>	
							<div class="col-xs-12" userIndex="" id="value"></div>
						</div>
					</div>
					<div class="pull-right">
						<button type="button" class="btn btn-primary" value="找关系" id="search_grep_button" style="margin-top: 5px;">找关系</button>
					</div>
				</div>
			</div>
			
		</aside>
		<div class="control-sidebar-bg" > 
		</div>
	</div>
	
	<!-- jQuery 2.2.3 -->
	<script type="text/javascript" src="/plugins/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/dist/js/app.min.js"></script>
	<script type="text/javascript" src="/plugins/sparkline/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>


	<script th:inline="javascript">
	var file = [[*{file}]];
	var username = [[${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}]];
    console.log("欢迎用户{{"+username+"}}登录本系统！\n 	");
    
	</script>
	<!-- 	<script type="text/javascript" src="/pages/index.js">	</script> -->
<!-- 	<script type="text/javascript" src="/pages/zhcx/search/yjcx.js">	</script> -->

</body>
</html>
