<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8" />
</head>
<body id="body">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">修改配置</h4>
	</div>
	<div class="modal-body row">
		<!-- Main content -->
		<section class="content">
			<div class="box-body row">
				
				<form action="" id="chart_dems_form">
					<input type="text"  id="add_sysPlantChartDimension_uuid" name="uuid" placeholder="标题名称" th:value="*{sysPlantChartDimension.uuid}" style="display: none;"/>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="box box-success col-lg-12">
							<div class="box-header with-border">
								<h3 class="box-title">图表属性</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse" title="缩放">
										<i class="fa fa-minus"></i>
									</button>
									<button type="button" class="btn btn-box-tool" data-widget="remove" title="隐藏">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div class="box-body col-lg-12">
								<div class=" col-md-12 form-group">
									<label class="col-sm-3 control-label text-right">标题名称:</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="add_sysPlantChartDimension_title" name="title" placeholder="标题名称" th:value="*{sysPlantChartDimension.title}"/>
									</div>
								</div>
								<div class=" col-md-12 form-group">
									<label class="col-sm-3 control-label text-right">图表类型:</label>
									<div class="col-sm-9">
			<!-- 							<input type="text" class="form-control" id="add_sysPlantChartDimension_url" name="url" placeholder="http://" th:value="*{sysPlantChartDimension.uuid}"/> -->
										<select style="width: 100%;" id="add_sysPlantChartDimension_chartType" name="chartType1"></select>
									</div>
								</div>
								<div class=" col-md-12 form-group">
									<label class="col-sm-3 control-label text-right">横轴:</label>
									<div class="col-sm-9">
										<select style="width: 100%;" id="add_sysPlantChartDimension_dateType" name="dateType"></select>
									</div>
								</div>
								<div class=" col-md-12 form-group">
									<label class="col-sm-3 control-label text-right">维度1:</label>
									<div class="col-sm-9">
			<!-- 							<input type="text" class="form-control" id="add_sysPlantChartDimension_url" name="url" placeholder="http://" th:value="*{sysPlantChartDimension.uuid}"/> -->
										<select style="width: 100%;" id="add_sysPlantChartDimension_lableUuid" name="lableUuid"></select>
									</div>
								</div>
								<div class=" col-md-12 form-group" style="display:none;">
									<label class="col-sm-3 control-label text-right">维度2:</label>
									<div class="col-sm-9">
			<!-- 							<input type="text" class="form-control" id="add_sysPlantChartDimension_url" name="url" placeholder="http://" th:value="*{sysPlantChartDimension.uuid}"/> -->
											<select style="width: 100%;" id="add_sysPlantChartDimension_lableUuid2" name="lableUuid2"></select>
									</div>
								</div>
								<div class=" col-md-12 form-group" style="display:none;">
									<label class="col-sm-3 control-label text-right">维度3:</label>
									<div class="col-sm-9">
			<!-- 							<input type="text" class="form-control" id="add_sysPlantChartDimension_url" name="url" placeholder="http://" th:value="*{sysPlantChartDimension.uuid}"/> -->
											<select style="width: 100%;" id="add_sysPlantChartDimension_lableUuid3" name="lableUuid3"></select>
									</div>
								</div>
								<div class=" col-md-12 form-group" style="display:none;">
									<label class="col-sm-3 control-label text-right">维度4:</label>
									<div class="col-sm-9">
			<!-- 							<input type="text" class="form-control" id="add_sysPlantChartDimension_url" name="url" placeholder="http://" th:value="*{sysPlantChartDimension.uuid}"/> -->
											<select style="width: 100%;" id="add_sysPlantChartDimension_lableUuid4" name="lableUuid4"></select>
									</div>
								</div>
								<div class=" col-md-12 form-group"  style="display:none;">
									<label class="col-sm-3 control-label text-right">分组:</label>
									<div class="col-sm-9">
										<select style="width: 100%;" id="add_sysPlantChartDimension_groupUuid" name="groupUuid"></select>
									</div>
								</div>
								<div class=" col-md-12 form-group form-inline"  style="display:none;">
									<label class="col-sm-3 control-label text-right">结果范围:</label>
									<div class="col-sm-9 form-inline">
										<input type="number" class="form-control" id="add_sysPlantChartDimension_startNum" name="startNum"  placeholder="开始条数： 默认 1 注意返回结果范围不易过大，影响系统响应时间" th:value="*{sysPlantChartDimension.startNum}"/>
										<span>~</span>
										<input type="number" class="form-control" id="add_sysPlantChartDimension_endNum" name="endNum" placeholder="结束条数：默认 10，注意返回结果范围不易过大，影响系统响应时间" th:value="*{sysPlantChartDimension.endNum}"/>
									</div>
								</div>
								<div class=" col-md-12 form-group form-inline"  style="display:none;">
									<label class="col-sm-3 control-label text-right">宽高:</label>
									<div class="col-sm-9 form-inline">
										<input type="number" class="form-control" id="add_sysPlantChartDimension_width" name="width" placeholder="可填写 1~12数字" max="12" th:value="*{sysPlantChartDimension.width}"/>
										<span>*</span>
										<input type="number" class="form-control" id="add_sysPlantChartDimension_heigth" name="heigth" placeholder="高度： 默认  230" th:value="*{sysPlantChartDimension.height}"/>
									</div>
								</div>
								<div class=" col-md-12 form-group" style="display:none;" >
									<label class="col-sm-3 control-label text-right">排序:</label>
									<div class="col-sm-9">
										<input type="number" class="form-control" id="add_sysPlantChartDimension_dimeOrder" name="dimeOrder" placeholder="1" th:value="*{sysPlantChartDimension.dimeOrder}"/>
									</div>
								</div>
								<div class=" col-md-12  form-group">
									<label class="col-sm-3 control-label text-right">状态:</label>
									<div class="col-sm-9 radio-inline radio" >
										<label class="radio-inline"><input type="radio" name="deleteFlag" value="1"/>启用 </label>
										<label class="radio-inline"><input type="radio" name="deleteFlag" value="0"/> 禁用</label>
									</div>
								</div>
								
								<div class="col-md-12 form-group text-center">
									<div class="col-sm-12">
										 <button type="button" class="btn btn-primary"  onclick="submit_add_addr()">修改属性</button>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</form>
				
				<div class="col-lg-5 col-md-6 col-xs-12">
					
					<div class="box box-success col-lg-12">
							<div class="box-header with-border">
								<h3 class="box-title">筛选条件</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse" title="缩放">
										<i class="fa fa-minus"></i>
									</button>
									<button type="button" class="btn btn-box-tool" data-widget="remove" title="隐藏">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div class="box-body col-lg-12">
								<div id="param_context">
									
									<ul class="selectnav"  id="param_body">
										
										<li  class="item">
											<div class="item_tit">金额范围:</div>
											<div class="item_cont form-inline">
												<input type="number" name="name" id="param_moneyMin" class="form-control " placeholder="自定义范围最低" min="0"/>
												<input type="number" name="name" id="param_moneyMax" class="form-control " placeholder="自定义范围最高" min="0" max="99999999999999999999999"/>
											</div>
										</li>
										<li  class="item">
											<div class="item_tit">日期范围:</div>
											<div class="item_cont form-inline">
												<input type="text" name="name" id="param_dateMin" class="form-control " placeholder="自定义日期范围最低"  min="1900"/>
												<input type="text" name="name" id="param_dateMax" class="form-control " placeholder="自定义日期范围最高" min="1900"  max="30000000"/>
											</div>
										</li>
										<li  class="item" type="keyword" title="keyword">
											<div class="item_tit" >关键词:</div>
											<div class="item_cont form-inline" id="param_keyword">
												<input type="text" name="name" class="form-control " placeholder="关键词" id="param_keyword_input"/>
												<input type="button" name="name" class="btn btn-primary" placeholder="确定" value="确定" id="param_keyword_btn"/>
												<span class="btn btn-default" id="ding_keyword_span" style="display: none;"><i class="fa fa-remove"></i><span>家具</span></span>
											</div>
										</li>
										<li class="item" id="show_change_search_box_List_li" style="display:none;" type="slectcheck" >
											<div class="item_tit">性别</div>
											<div class="item_button" style="display:none;">
												<a class="btn btn-default fa fa-remove" style="display:none;"></a>
											</div>
											<div class="item_cont">
												<ul class="item_option clearfix">
													<li style="display:none;" ><label><input type="radio" name="gender"/><span>男</span></label></li>
												</ul>
											</div> 
											<div class="item_more" style="display:none;">
												<a class="fa fa-angle-double-down"  >更多</a> 
												<a class="fa fa-angle-double-up" style="display:none;">收起</a>
											</div>
										</li>
									</ul>
									<div class="col-md-12 form-group text-center">
										<div class="col-sm-12">
											 <button type="button" class="btn btn-primary" id="submit_param_id">修改条件</button>
										</div>
									</div>
									<ul id="templates" style="display: none;">
										<li  class="item" type="keyword">
											<div class="item_tit">关键词</div>
											<div class="item_cont form-inline" id="">
												<input type="text" name="name" class="form-control " placeholder="关键词" />
												<input type="button"  class="btn btn-primary" placeholder="确定" value="确定" />
												<span class="btn btn-default"  style="display: none;"><i class="fa fa-remove"></i><span>家具</span></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

				</div>
				
				<div class="col-lg-3 col-md-6 col-xs-12" id="chart_col">
					<div class="box box-success col-lg-12">
						<div class="box-header with-border">
							<h3 class="box-title">预览</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse" title="缩放">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool" data-widget="remove" title="隐藏">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<div class="box-body col-lg-12">
							<div id="dbm_config_table_view" class="col-lg-12" style="height: 230px;width: 380px;" ></div>
						</div>
					</div>
				</div>
				
			</div>
				
			<div class="row">
				<div class="col-md-12 form-group text-center">
					<div class="col-sm-12">
						 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script th:inline="javascript">
	var sysPlantChartDimension = [[*{sysPlantChartDimension}]];
	// console.log(sysPlantChartDimension);
	if(sysPlantChartDimension.chartType == "bar"||sysPlantChartDimension.chartType == "line"||sysPlantChartDimension.chartType == "tree"||sysPlantChartDimension.chartType == "sunburst"){
		$("#add_sysPlantChartDimension_lableUuid2").parent().parent().css({"display":""});
	}
	if(sysPlantChartDimension.chartType == "tree"||sysPlantChartDimension.chartType == "sunburst"){
		$("#add_sysPlantChartDimension_lableUuid3").parent().parent().css({"display":""});
		$("#add_sysPlantChartDimension_lableUuid4").parent().parent().css({"display":""});
	}
	var _map={};
	</script>
	<script type="text/javascript" src="/pages/plant/chart3/loadCharts.js"></script>
	<script type="text/javascript" src="/pages/plant/chart3/add.js"></script>
</body>
</html>