<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8"/>

<!-- <link href="/plugins/bootstrap/table/bootstrap-table.css" rel="stylesheet" /> -->

<!-- <script src="/plugins/bootstrap/table/bootstrap-table.js"></script> -->
<!-- <script src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.js"></script> -->
<!-- <script src="/plugins/bootstrap/table/extensions/export/bootstrap-table-export.js"></script> -->
</head>
<body >
<div id="body">
	<div class="col-lg-4 col-md-6 col-xs-12" id="chart_col" style="display: none;">
		<div class="box box-success" id="success">
			<div class="box-header with-border">
				<h3 class="box-title">饼图</h3>
				<div class="box-tools pull-right" id="chart_uuid">
					<button type="button" class="btn btn-box-tool" data-widget="edit" title="修改">
						<i class="fa  fa-edit"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="search" title="全屏查看">
						<i class="fa  fa-search"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="file" title="归档" style="display:none;">
						<div id="groupUuid" style="display:none;"></div>
						<i class="fa fa-folder-open-o"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="collapse" title="缩放">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove" title="隐藏"  style="display:none;">
						<i class="fa fa-times"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="delete" title="删除"  style="display:none;">
						<i class="fa  fa-trash-o"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<div id="dbm_config_table_datagrid1" style="width: 100%; height: 230px;"></div>
			</div>
		</div>
	</div>
	</div>
	
	<script th:inline="javascript">
		var sysPlantChartDimensionList = [[*{sysPlantChartDimensionList}]];
	</script>
	<script type="text/javascript" src="/pages/plant/chart3/loadCharts.js"></script>
	<script type="text/javascript" src="/pages/plant/chart3/build.js"></script>
</body>
</html>
