<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <link rel="stylesheet" href="/plugins/bootstrap/table/bootstrap-table.min.css"/> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/bootstrap-table.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/extensions/export/bootstrap-table-export.min.js"></script> -->

</head>
<body>
	<!-- 头部设计 -->
	<section class="content-header">
		<h1>
			数据管理 <small>连接设置</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="index.html"><i class="fa fa-dashboard"></i>首页</a></li>
			<li><a href="#">数据库设置 </a></li>
			<li class="active">添加连接</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<input type="text" id="add_addr_uuid" name="type" placeholder="uuid" th:value="*{sysDatabaseInfo.uuid}" hidden="hedden"/>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">数据库类型:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_addr_type" name="type" placeholder="数据库类型" th:value="*{sysDatabaseInfo.type}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">链接地址:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_addr_address" name="address" placeholder="ip地址" th:value="*{sysDatabaseInfo.address}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">端口号:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_addr_port" name="port" placeholder="端口号" th:value="*{sysDatabaseInfo.port}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">数据库名:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_addr_databaseName" name="databaseName" placeholder="数据库名" th:value="*{sysDatabaseInfo.databaseName}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">用户名:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_addr_username" name="username" placeholder="用户名" th:value="*{sysDatabaseInfo.username}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">密码:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_addr_password" name="password" placeholder="密码" th:value="*{sysDatabaseInfo.password}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">驱动:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_addr_driver" name="driver" placeholder="数据库类型" th:value="*{sysDatabaseInfo.driver}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">描述:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_addr_discription" name="discription" placeholder="ip地址" th:value="*{sysDatabaseInfo.discription}"/>
				</div>
			</div>
			<div class="col-md-12 form-group text-center">
				<div class="col-sm-12">
					<button class="btn btn-success" onclick="submit_add_addr()">确认</button>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="pages/dbm/addr/js/add_addr.js"></script>
</body>
</html>
