<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <link rel="stylesheet" href="/plugins/bootstrap/table/bootstrap-table.min.css"/> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/bootstrap-table.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/extensions/export/bootstrap-table-export.min.js"></script> -->

</head>
<body>
	<!-- 头部设计 -->
	<section class="content-header">
		<h1>
			数据管理 <small>连接设置</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="index.html"><i class="fa fa-dashboard"></i>首页</a></li>
			<li><a href="#">数据库设置 </a></li>
			<li class="active">添加连接</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<input type="text" id="add_task_id" name="id" placeholder="id" th:value="*{task.id}" hidden="hedden"/>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">是否采集附件:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_appendixStatus" name="appendixStatus" placeholder="是否采集附件" th:value="*{task.appendixStatus}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">已完成任务个数:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_comfurmTask" name="comfurmTask" placeholder="已完成任务个数" th:value="*{task.comfurmTask}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">失败任务个数:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_errTask" name="errTask" placeholder="失败任务个数" th:value="*{task.errTask}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">启动频率:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_executeType" name="executeType" placeholder="启动频率" th:value="*{task.executeType}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">采集器启动时间:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_executeTime" name="executeTime" placeholder="采集器启动时间" th:value="*{task.executeTime}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">密码:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_password" name="password" placeholder="密码" th:value="*{task.password}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">剩余任务个数:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_lastTask" name="lastTask" placeholder="剩余任务个数" th:value="*{task.lastTask}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">采集器状态:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_status" name="status" placeholder="采集器状态" th:value="*{task.status}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">采集器名称:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_taskName" name="taskName" placeholder="采集器名称" th:value="*{task.taskName}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">线程个数:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_threadNumber" name="threadNumber" placeholder="线程个数" th:value="*{task.threadNumber}"/>
				</div>
			</div>
			<div class=" col-md-6 form-group">
				<label class="col-sm-2 control-label text-right">采集网址:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="add_task_url" name="url" placeholder="采集网址" th:value="*{task.url}"/>
				</div>
			</div>
			<div class="col-md-12 form-group text-center">
				<div class="col-sm-12">
					<button class="btn btn-success" onclick="submit_add_addr()">确认</button>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="/pages/crawler/task/add.js"></script>
</body>
</html>
