<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8" />
<!-- <link href="/plugins/bootstrap/table/bootstrap-table.css" rel="stylesheet" /> -->

<!-- <script src="/plugins/bootstrap/table/bootstrap-table.js"></script> -->
<!-- <script src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.js"></script> -->
<!-- <script src="/plugins/bootstrap/table/extensions/export/bootstrap-table-export.js"></script> -->
</head>
<body id="body">
	<!-- Main content -->
	<section class="content">
	
		<div class="container-fluid " id="search-1-box">
			<div class="text-right">
				<button class="btn btn-primary" id="search-2-box-button-show">高级查询</button>
			</div>
			<div class="search_index wow  slideInDown" data-wow-duration="0.1">
				<div class="h1">综合查询</div>
				<div class="row_a">
					<div class="col_1">
						<input name="keyword" type="text" id="keyword" class="form-control" placeholder="请输入关键字" />
					</div>
					<div class="col_01">
						<button id="search_button" type="button" class="btn btn-primary btn-block">搜索</button>
					</div>
				</div>
				<ul class="search_bar">
				</ul>
			</div>
		</div>
		<div class="container-fluid"  id="search-2-box">
			<div class="text-right" >
				<button class="btn btn-primary " id="search-1-box-button-show">快速查询</button>
			</div>
			<div class="search_index wow  slideInDown">
				<div class="h1">高级查询</div>
				<div class="row">
					<div id="search_group_box_id">
						<div class="row" style="display:none; margin-bottom: 5px;" id="search_group_id">
							<div style="width:80px;float:left;padding-top: 10px;text-align:right;" id="title">手机：</div>
<!-- 							<div style="width:180px;float:left;"><input operator="eq" type="text" class="form-control keyword" placeholder="请输入关键字" /></div> -->
							<div style="width:630px;float:left;"><input operator="eq" type="text" class="form-control keyword" placeholder="请输入关键字" /></div>
<!-- 							<div style="width:50px;float:left;padding-top: 10px; margin-left: 30px;text-align:right;"> 范围：</div> -->
<!-- 							<div style="width:180px;float:left;"><input operator="ge"  type="text"  class="form-control keyword-left" placeholder="请输入关键字" /></div> -->
<!-- 							<div style="width:10px;float:left;padding-top: 10px;">-</div> -->
<!-- 							<div style="width:180px;float:left;"><input operator="le" type="text"  class="form-control keyword-rigth" placeholder="请输入关键字" /></div> -->
						</div>
					</div>
				</div>
				<div class="row ">
					<div class="col_01" style="margin-left: 600px;margin-top: 30px;">
						<button id="search_group_button" type="button" class="btn btn-primary btn-block ">搜索</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
    <form id="sosuoform" name="sosuoform" action="/zhcx/forwardYjcx" method="post" target="_blank" hidden="hidden">
		<input id="zhcx_type"  name="type" value="" />
		<input id="zhcx_sousuo_paramString"  name="paramString" value="" />
     </form>
	<script type="text/javascript" src="/pages/zhcx/search/index.js"></script>
</body>
</html>