<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <link rel="stylesheet" href="/plugins/bootstrap/table/bootstrap-table.min.css"/> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/bootstrap-table.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/extensions/export/bootstrap-table-export.min.js"></script> -->

</head>
<body>
	<!-- 头部设计 -->
	<section class="content-header">
		<h1>
			详细信息 <small>科技成果</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="index.html"><i class="fa fa-dashboard"></i>首页</a></li>
			<li><a href="#">科技成果</a></li>
			<li class="active">详细信息 </li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
	
		<div class="box">
			<div class="box-header with-border">
              <h3 class="box-title">科技项目详细信息</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
			<div class="box-body">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4 strong">省市地区</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.region}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">科技计划编码</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.planId}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">科技计划名称</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.planName}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">科技计划指南描述</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.planAbstract}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">科技计划指南链接地址</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.planUrl}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目类别</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectType}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目编码</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectId}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目名称</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectName}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目主管部门</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.competentDepartment}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目领域编码</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectDomainId}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目领域名称</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectDomain}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">立项年度</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.approvalYear}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目计划起始时间</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectPlanStartTime}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目实际起始时间</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectActualStartTime}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目计划结束时间</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectPlanEndtime}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目实际结束时间</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectActualEndtime}">2</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目执行阶段</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectPhase}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">研究目标</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.researchTarget}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">主要研究内容</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.researchContent}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目简介</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.projectAbstract}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">预期成果指标</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.expectedIndex}">2</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">中图分类号</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.cdc}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">学科分类代码</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.discipline}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">行业分类代码</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.industry}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">其他分类代码</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.otherCode}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">中文关键词</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.cnKeyword}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">英文关键词</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.enKeyword}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目总经费</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.totalFund}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">中央拨付经费</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.govemmentFund}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">省级拨付经费</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.provincialFund}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">地方配套经费</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.localFund}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">单位自筹经费</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.selfFund}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">其他来源经费</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.otherFund}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">项目相关文档</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.porjectLinks}">2</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">联系人姓名</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.name}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">联系人电话</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.telephone}">2</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="col-sm-4">联系人邮箱</div>
						<div class="col-sm-8" th:text="*{KjxmJbxxInfo.email}">2</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--  科技项目单位 -->
		<div th:each="kjxmDwxxInfo,index:${KjxmJbxxInfo.kjxmDwxxInfos}">  
			<div class="box">
				<div class="box-header with-border">
	              <h3 class="box-title" th:text="科技项目单位 + *{index.index+1}"></h3>
	
	              <div class="box-tools pull-right">
	                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	                </button>
	                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	              </div>
	            </div>
				<div class="box-body">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganization}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位组代码</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationCode}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位统 一社会信用代码</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationUscc}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担法人单位</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainImpersonalEntity}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong"> 主承担单位 上级管理部门</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationAdministration}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位 推荐部门 推</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationRecommendUnit}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位 性质</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationProperty}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位 所在地区</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationLocation}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位 通讯地址</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationAddress}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位 邮政编码</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationPostcode}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位电话</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationTelephone}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">主承担单位传真</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationFax}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong"> 主承担单位 电子邮箱</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.mainOrganizationEmail}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">开户行名称</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.bankName}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">开户行账号</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.bankAccount}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">单位开户名称</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.accountName}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">合作单位</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.coopOrganization}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">合作单位组织 机构代码</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.coopOrganizationCode}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">合作单位统一 社会信用代码</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.coopOrganizationUscc}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">合作单位性质 </div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.coopOrganizationProperty}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">合作单位电话</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.coopOrganizationTelephone}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">合作单位传真</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.coopOrganizationFax}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">合作单位排序号</div>
							<div class="col-sm-8" th:text="*{kjxmDwxxInfo.coopOrganizationId}">2</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 科技项目人员 -->
		<div th:each="kjxmRyxxInfo,index:${KjxmJbxxInfo.kjxmRyxxInfos}">
			<div class="box">
				<div class="box-header with-border">
	              <h3 class="box-title" th:text="科技项目人员 + *{index.index+1}"></h3>
	
	              <div class="box-tools pull-right">
	                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	                </button>
	                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	              </div>
	            </div>
				<div class="box-body">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人姓名</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headName}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人性别</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headGender}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人出生日期</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headBirthdate}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人民族</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headEthnicGroup}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人政治面貌</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headPoliticalStatus}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人证件类型</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headIdType}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人证件号码</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headIdNumber}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人职称</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headProfessionalTitle}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人学历</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headEducation}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人学位</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headDegree}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人毕业院校</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headSchoolName}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人专业</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headMajor}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人研究方向</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headResearchDirection}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人所在单位</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headOrganization}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人职务</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headPositionTitle}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人职务级别</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headPositionLevel}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人才称号</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headHonorary}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人办公电话</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headTelephone}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人移动电话</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headMobileTelephone}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">负责人邮箱</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.headEmail}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人姓名</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantName}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人性别</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantGender}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人出生日期</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantBirthday}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人证件类型</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantIdType}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人证件号码</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantIdNumber}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人职称</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantProfessionTitle}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人学历</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantEducation}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人学位</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantDegree}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人专业</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantMajor}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人研究方向</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantResearchDirection}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人所在单位</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantOrganization}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人职务</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantTitle}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人职务级别</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantPositionLevel}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">任务分工</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.task}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人工作时间</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantWorkingTime}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">人员角色</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.role}">2</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="col-sm-4 strong">参加人排序号</div>
							<div class="col-sm-8" th:text="*{kjxmRyxxInfo.participantWorkRank}">2</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</section>
</body>
</html>
