<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <link rel="stylesheet" href="/plugins/bootstrap/table/bootstrap-table.min.css"/> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/bootstrap-table.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.min.js"></script> -->
<!-- <script type="text/javascript" src="/plugins/bootstrap/table/extensions/export/bootstrap-table-export.min.js"></script> -->

</head>
<body>
	<!-- 头部设计 -->
	<section class="content-header">
		<h1>
			更新项目人员<small>科技项目</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="index.html"><i class="fa fa-dashboard"></i>首页</a></li>
			<li><a href="#">科技项目</a></li>
			<li class="active">更新项目人员</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">科技项目人员信息</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<form action="/kjcgJbxxInfo/save" method="post" id="kejiju_xiangmu_renyuan_form_id">
					<div class="row">
						<div class="col-md-6 col-sm-12 form-group" hidden="hidden">
							<div class="col-sm-4 strong">本地唯一标识</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.uuid}" id="kejiju_xiangmu_renyuan_input_uuid" name="uuid" placeholder="本地唯一标识" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人出生日期</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headBirthdate}" id="kejiju_xiangmu_renyuan_input_headBirthdate" name="headBirthdate" placeholder="负责人出生日期" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人学位</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headDegree}" id="kejiju_xiangmu_renyuan_input_headDegree" name="headDegree" placeholder="负责人学位" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人学历</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headEducation}" id="kejiju_xiangmu_renyuan_input_headEducation" name="headEducation" placeholder="负责人学历" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人邮箱</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headEmail}" id="kejiju_xiangmu_renyuan_input_headEmail" name="headEmail" placeholder="负责人邮箱" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人民族</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headEthnicGroup}" id="kejiju_xiangmu_renyuan_input_headEthnicGroup" name="headEthnicGroup" placeholder="负责人民族" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人性别</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headGender}" id="kejiju_xiangmu_renyuan_input_headGender" name="headGender" placeholder="负责人性别" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人才称号</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headHonorary}" id="kejiju_xiangmu_renyuan_input_headHonorary" name="headHonorary" placeholder="负责人才称号" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人证件号码</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headIdNumber}" id="kejiju_xiangmu_renyuan_input_headIdNumber" name="headIdNumber" placeholder="负责人证件号码" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人证件类型</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headIdType}" id="kejiju_xiangmu_renyuan_input_headIdType" name="headIdType" placeholder="负责人证件类型" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人专业</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headMajor}" id="kejiju_xiangmu_renyuan_input_headMajor" name="headMajor" placeholder="负责人专业" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人移动电话</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headMobileTelephone}" id="kejiju_xiangmu_renyuan_input_headMobileTelephone" name="headMobileTelephone" placeholder="负责人移动电话" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人姓名</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headName}" id="kejiju_xiangmu_renyuan_input_headName" name="headName" placeholder="负责人姓名" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人所在单位</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headOrganization}" id="kejiju_xiangmu_renyuan_input_headOrganization" name="headOrganization" placeholder="负责人所在单位" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人政治面貌</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headPoliticalStatus}" id="kejiju_xiangmu_renyuan_input_headPoliticalStatus" name="headPoliticalStatus" placeholder="负责人政治面貌" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人职务级别</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headPositionLevel}" id="kejiju_xiangmu_renyuan_input_headPositionLevel" name="headPositionLevel" placeholder="负责人职务级别" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人职务</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headPositionTitle}" id="kejiju_xiangmu_renyuan_input_headPositionTitle" name="headPositionTitle" placeholder="负责人职务" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人职称</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headProfessionalTitle}" id="kejiju_xiangmu_renyuan_input_headProfessionalTitle" name="headProfessionalTitle" placeholder="负责人职称" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人研究方向</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headResearchDirection}" id="kejiju_xiangmu_renyuan_input_headResearchDirection" name="headResearchDirection" placeholder="负责人研究方向" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人毕业院校</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headSchoolName}" id="kejiju_xiangmu_renyuan_input_headSchoolName" name="headSchoolName" placeholder="负责人毕业院校" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">负责人办公电话</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.headTelephone}" id="kejiju_xiangmu_renyuan_input_headTelephone" name="headTelephone" placeholder="负责人办公电话" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人出生日期</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantBirthday}" id="kejiju_xiangmu_renyuan_input_participantBirthday" name="participantBirthday" placeholder="参加人出生日期" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人学位</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantDegree}" id="kejiju_xiangmu_renyuan_input_participantDegree" name="participantDegree" placeholder="参加人学位" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人学历</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantEducation}" id="kejiju_xiangmu_renyuan_input_participantEducation" name="participantEducation" placeholder="参加人学历" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人性别</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantGender}" id="kejiju_xiangmu_renyuan_input_participantGender" name="participantGender" placeholder="参加人性别" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人证件号码</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantIdNumber}" id="kejiju_xiangmu_renyuan_input_participantIdNumber" name="participantIdNumber" placeholder="参加人证件号码" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人证件类型</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantIdType}" id="kejiju_xiangmu_renyuan_input_participantIdType" name="participantIdType" placeholder="参加人证件类型" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人专业</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantMajor}" id="kejiju_xiangmu_renyuan_input_participantMajor" name="participantMajor" placeholder="参加人专业" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人姓名</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantName}" id="kejiju_xiangmu_renyuan_input_participantName" name="participantName" placeholder="参加人姓名" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人所在单位</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantOrganization}" id="kejiju_xiangmu_renyuan_input_participantOrganization" name="participantOrganization" placeholder="参加人所在单位" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人职务级别</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantPositionLevel}" id="kejiju_xiangmu_renyuan_input_participantPositionLevel" name="participantPositionLevel" placeholder="参加人职务级别" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人职称</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantProfessionTitle}" id="kejiju_xiangmu_renyuan_input_participantProfessionTitle" name="participantProfessionTitle" placeholder="参加人职称" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人研究方向</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantResearchDirection}" id="kejiju_xiangmu_renyuan_input_participantResearchDirection" name="participantResearchDirection" placeholder="参加人研究方向" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人职务</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantTitle}" id="kejiju_xiangmu_renyuan_input_participantTitle" name="participantTitle" placeholder="参加人职务" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人排序号 </div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantWorkRank}" id="kejiju_xiangmu_renyuan_input_participantWorkRank" name="participantWorkRank" placeholder="参加人排序号 " class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">参加人工作时间</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.participantWorkingTime}" id="kejiju_xiangmu_renyuan_input_participantWorkingTime" name="participantWorkingTime" placeholder="参加人工作时间" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">人员角色</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.role}" id="kejiju_xiangmu_renyuan_input_role" name="role" placeholder="人员角色" class="form-control" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 form-group">
							<div class="col-sm-4 strong">任务分工</div>
							<div class="col-sm-8">
								<input type="text" th:value="*{kjxmRyxxInfo.task}" id="kejiju_xiangmu_renyuan_input_task" name="task" placeholder="任务分工" class="form-control" />
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 form-group text-center">
							<button class="btn btn-success" id="kejiju_xiangmu_danwei_submit_button" type="button">
								<i class="fa fa-search"></i> 确定
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="pages/kejiju/xiangmu/renyuan_upd.js"></script>
</body>
</html>
